### 1.1 Things to note:
- Python is an interpreted language, not compiled (you can run it line by line)
- No type declaration at interpretation time (happens at runtime)

## 2. Data Types

### 2.1 Numbers

In python, there is basically only float and int

In [7]:
17 / 3 # Division always returns float

5.666666666666667

In [3]:
17 // 3 # Flooring

5

In [4]:
17 % 3

2

In [5]:
17 ** 3

4913

In [6]:
4 + _

4917

### 2.2 Strings

Basically what usually denotes a char 'c' can also and is also
used for strings in python

In [18]:
print('Hello, world!')
print("Hello, world!")
print("Hello,","world!")

# Concatenation
_ = "Hello," + " " + "world!"
_

Hello, world!
Hello, world!
Hello, world!

'Hello, world!'

In [23]:
x = "Hello, world!"
x[5:]

', world!'

In [24]:
x[:5]

'Hello'

In [25]:
x[-3:]

'ld!'

### 2.3 Lists

A list in Python is basically a dynamic array that can hold multiple data types
(You will use this the most:D)

In [46]:
class A:
  def __init__(self):
    print("A")

class B:
  def __init__(self):
    print("B")

x1 = list()
x1.append(A())
x1.append(B())

x2 = [A(), B()]
print(x1)
print(x2)

A
B
A
B
[<__main__.A object at 0x7f7674e93810>, <__main__.B object at 0x7f7674fafe90>]
[<__main__.A object at 0x7f7674faffd0>, <__main__.B object at 0x7f7674e41850>]

In [47]:
# Indexing works the same:
print(x1[1:])
print(x2[0])

print(len(x2))

[<__main__.B object at 0x7f7674fafe90>]
<__main__.A object at 0x7f7674faffd0>
2

In [48]:
x2.append(B())

B

In [49]:
print(x2)
x2[1:3] = [A(), A()] # replace values
print(x2)

[<__main__.A object at 0x7f7674faffd0>, <__main__.B object at 0x7f7674e41850>, <__main__.B object at 0x7f7674e57f10>]
A
A
[<__main__.A object at 0x7f7674faffd0>, <__main__.A object at 0x7f7674e57210>, <__main__.A object at 0x7f7674e57a10>]

In [52]:
# there are also all the other well known methods like 
# pop(i) (pops element at i), 
# count(x) (counts occurences of element x),
# sort(),
# reverse(),
# copy(),
# insert(i, x) 
x2[:] = [] # clear the list
print(x2)

IndexError: ignored

### 2.3 Stacks

"Abuse" a list to use as stack that can only pop and append...  

LiFo-Stack:

In [53]:
stack = [1,2]
stack.append(3)
stack.append(4)
print(stack)

[1, 2, 3, 4]

In [54]:
stack.pop()

4

### 2.4 Tuple

Warning: In python not only length 2   

- List of comma separated values (1,2,3,4)  
- Tuples are immutable (and usually contains different types)
  -> But can contain mutable objects
- Lists are mutable (and usually contain the same elements)

In [55]:
tuple_ = 1,2,3,4

In [56]:
tuple_

(1, 2, 3, 4)

In [58]:
# tuple_[3] = 5 # this will purposely create an error

In [60]:
# usual use case:
tuple2 = (1, A())
tuple2

A

(1, <__main__.A at 0x7f7674e58bd0>)

### 2.5 Set

"A mathematical list", very useful



*   Cannot contain duplicate elements -> will be removed upon creation
*   Support the common set operations: union, intersection, difference, symmetric difference

In [63]:
set_ = set() # empty set

In [65]:
apple = { "MBP", "iPad", "iPhone", "AirPods" }

In [68]:
"Apple Pen" in apple # test membership

False

In [70]:
a = set('abracadabra')
b = set('alacazam')
a                                  # unique letters in a
# {'a', 'r', 'b', 'c', 'd'}
a - b                              # letters in a but not in b
# {'r', 'd', 'b'}
a | b                              # letters in a or b or both
# {'a', 'c', 'r', 'd', 'b', 'm', 'z', 'l'}
a & b                              # letters in both a and b
# {'a', 'c'}
a ^ b                              # letters in a or b but not both
# {'b', 'd', 'l', 'm', 'r', 'z'}

{'b', 'd', 'l', 'm', 'r', 'z'}

### 2.6 Dictionaries

Store (key, value) tuples

In [72]:
math_gr5430 = {
    "student_1": 1234,
    "student_2": 5678,
}

In [73]:
math_gr5430["student_1"]

1234

In [74]:
for (k,v) in math_gr5430.items():
  print(k,v)

student_1 1234
student_2 5678

In [78]:
for (i, v) in enumerate(math_gr5430):
  print(i,v)

0 student_1
1 student_2

## 3. Control Flow

### 3.1 if statements

In [1]:
a = 3
if a > 0:
  print("Positive")
elif a < 0:
  print("Negative") # gets only called if 1st condition is false
else:
  print("Zero")

Positive

### 3.2 For-Loops

In [7]:
numbers = [1,2,3,4,5]
for number in numbers:
  print(number)

for i in range(len(numbers)):
  print(i, numbers[i])

list(range(4, 10)) # 4,5,6,7,8,9

1
2
3
4
5
0 1
1 2
2 3
3 4
4 5

[4, 5, 6, 7, 8, 9]

In [ ]:
# break: breaks out of innermost loop that contains it
# continue: continues with next iteration

### 3.3 While-Loops

In [8]:
while True:
  pass

KeyboardInterrupt: ignored

### 4. Functions

def name(argument1, argument2=value):    
> pass          


where argument 2 is an optional.

Best practices:

In [18]:
def splitData(series, splitPercent=0.8, vsplitPercent=0.2):
    """
    splitData splits time series data into three partition dataset

    :param series: a series of numerical values to be split
    :param splitPercent: optional, the size of the test data compared to the total data in length, is .8 by default
                         the size of the test dataset is floored through integer casting
    :param vsplitPercent: optional, the percent of the already splitted testdata that is validation data, .2 by default
    :return: returns the train, validation and test datasets
    """ 
    rowCount = len(series)
    trainAndValSize = int(rowCount * splitPercent) # The trainsize is the floored length(data) * the split %
    trainSize = int(trainAndValSize * (1-vsplitPercent))
    testSize = (rowCount-trainAndValSize)
    valSize = trainAndValSize-trainSize 
    
    train = series[:trainSize] # The training dataset is all data until the trainSize
    val = series[trainSize:trainAndValSize]
    test = series[-testSize:] # The test dataset is all data from the trainSize
    print("Data was successfully split from " + str(rowCount) + " into ", end='')
    print("Train: " + str(len(train)), end=' ')
    print("Test: " + str(len(test)), end=' ')
    print("Validation: " + str(len(val)))
    return train, test, val

In [20]:
print(splitData.__doc__)

    splitData splits time series data into three partition dataset

    :param series: a series of numerical values to be split
    :param splitPercent: optional, the size of the test data compared to the total data in length, is 0.8 by default
                         the size of the test dataset is floored through integer casting
    :param vsplitPercent: the percent of the already splitted testdata that is validation data
    :return: returns the train, validation and test datasets

In [19]:
import numpy as np
train, test, val = splitData(series=np.arange(50))

Data was successfully split from 50 into Train: 32 Test: 10 Validation: 8

Theoretically, you can explicitly set the types for a more usual,       
object oriented compiler language style.

In [21]:
def subtract(minuend: float, subtrahend: float) -> float:
  return minuend - subtrahend

In [22]:
subtract(10,5)

5

In [23]:
subtract.__annotations__

{'minuend': float, 'return': float, 'subtrahend': float}

### 5. Simple Classes and simple Inheritance

The object-oriented part of python is not that relevant for      
data science and the scope of this course, but for completeness a simple  class      
could look like the following:

In [26]:
class Vehicle:
  def __init__(self, speed): # is called automatically upon creation
    self.speed = speed # in mph
    self.y = 0
    self.x = 0
        
  def move_right(self, distance: int):
    self.x + abs(distance)

In [36]:
class Horse(Vehicle):
  max_calories = 10_000 # assuming all horses eat a maximum of 10k calories, is a static variable

  def __init__(self, speed, calories):
    super().__init__(speed)
    self.is_happy = True
    self.calories = calories

  def move_right(self, distance: float):
    if self.is_happy and self.calories > 0:
      self.x += abs(distance)
      self.calories - (Horse.max_calories * distance ** 2)
      print("New Position:", "(",self.x, ",",self.y,")", "Calories left:", self.calories)
    else:
      print("FoodException")

In [37]:
Horse(50, 7000).move_right(100)

New Position: ( 100 , 0 ) Calories left: 7000